#page {
text-align:center;
    display: grid;
        grid-template:
      [header-left] "head head" [header-right]
      [main-left] "nav  main"  [main-right]
      [footer-left] "nav  foot"  [footer-right]
      / 0px;
  }
  
  header {
    background-color:#fff;
    grid-area: head;
  }
  
  nav {
    background-color: #fff;
    grid-area: nav;
  }
  
  main {
    background-color:#fff;
    grid-area: main;
  }
  
  footer {
    background-color:#fff;
    grid-area: foot;
  }
  